@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");

* {
    font-family: Roboto, serif;
}

:root {
    --background-color-primary: #fafafa;
    --background-color-secondary: #fff;
    --primary-color: #2c4477;
    --secondary-color: #0069aa;
    --tertiary-color: #55d3f0;
    --input-background-color: #e0e0e0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a {
    text-decoration: none;
}

.radius {
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.wrapper {
    background-color: var(--background-color-primary);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 50vw;
}

.wrapper-header {
    display: grid;
    place-items: center;
}

.wrapper-content {
    position: relative;
    background-color: var(--background-color-secondary);
    width: 85%;
    padding: 0 2rem;
}

.wrapper-header h2.wrapper-title::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    top: 30%;
    left: 45%;
    width: 10% !important;
    height: 2px;
}

.wrapper-message {
    font-size: 1.2rem;
    margin: 2rem 5rem;
    text-align: center;
    color: var(--primary-color);
}

.wrapper-footer {
    display: flex;
    justify-content: flex-end;
}

.btn-submit {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.5rem;
    outline: none;
    overflow: hidden;
    text-transform: uppercase;
}

.btn-submit > i {
    position: relative;
    top: 10%;
    right: -3%;
    font-size: 2rem;
}

.btn-submit:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }

    .wrapper-content {
        padding: 0 1rem;
    }

    .wrapper-content h3::after {
        width: 35%;
    }

    .wrapper-message {
        margin: 4rem 3rem 0 3rem;
        text-align: center;
    }


}
